services:
  actualtap:
    container_name: actualtap
    image: mattyfaz/actualtap:latest
    ports:
      - 3001:3001
    environment:
      - TZ=
      - ACTUAL_URL=
      - ACTUAL_PASSWORD=
      - ACTUAL_SYNC_ID=
      - API_KEY=
    network_mode: bridge
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3001/health || exit 1
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s
